<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>
<body class="books-container">
    <h1 class="book-title">Books Tracker</h1>
    <div class="books-lists-container">

        
            <section class="added-books">
                <h2 >Not started</h2>
                <ul class="book-container">
                    <% books.forEach( el => { %>
                            <li class='bookItem' data-id='<%=el._id%>'>
                                <!-- <span class="bookItem-book"><%= el.book %></span> -->
                                
                                <img src="<%= el.image %>" alt="" class="logo">
                               <span  class="bookItem-book"><%= el.title %></span>
                                <span><%= el.author.join('') %></span>
                                <div class="bookItem-btns">
                                   <span class="reading">In progress</span>
                                     <span class="archive">Archive</span>  
                                     <!-- Maye added start -->
                                    <span class='del'> Delete </span>
                                </div>
                                <!-- Maye added end -->
                               
                                <!-- <span class='del'> Delete </span> -->
                            </li>
                    <% }) %>    
                    </ul>
            </section>

            <section class="reading">
                <h2>In progess</h2>
                <ul class="book-container">
                    <% reading.forEach( el => { %>
                            <li class='bookItem' data-id='<%=el._id%>'>
                                <span  class="bookItem-book"><%= el.book %></span>
                                
                                <div class="bookItem-btn">
                                    <span class="completed done">Completed</span>

                                     <span class='del'> Delete </span>
                                </div>
                               
                            </li>
                    <% }) %>    
                    </ul>
            </section>


            <section class="completed">
                <h2>Completed</h2>
                <ul class="book--container">
                    <% completed.forEach( el => { %>
                            <li class='bookItem' data-id='<%=el._id%>'>
                                <span  class="bookItem-book"><%= el.title %></span>
                                <span><%= el.author.join('') %></span>
                                <%= img_tag(encodeURI(el.image)) %>
                                <div class="bookItem-btns">

                                    <span class="incomplete"> In progress</span>
                                    <!-- <span class='del'> Delete </span> -->
                                    <span class="archive">Archive</span>  
                                    </div>
                                
                            </li>
                    <% }) %>    
                    </ul>
            </section>
        


    </div>
   

    <!-- <h2><%= user.userName %> has <%= left %> things left to do.</h2> -->


    <button type="button" class='add-book-open-btn'>Add Book</button>  
  


    <div class="add-book--container hidden">

    
        <div class="add-book--inner-container ">
            <form>
                <label class="add-book--inner-container-label">
                    Search
                    
                    <input type="text" id="user-input" class="user-input">
                    by
                    <select name="" id="search-type">
                        <option value="please select" selected>Please choose one</option>
                        <option value="title">title</option>
                        <option value="IBN">IBN</option>

                    </select>

                    
                </label>
                <button type="button" id="find-book">
                    <img src="/public/image/search.png" alt="search icon" class="btn-search">
                    <img src="/public/image/search-hover.gif" alt="search gif" class="btn-search-hover">
                </button>
            </form>

            <section id="book-result" class="book-result">

            </section>
        </div>
  
    </div>
    
    
    <a href="/archive">Bookshelf</a>
    <a href="/logout" class="out">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>